/*

font-family: 'Cinzel', serif;
font-family: 'Libre Baskerville', serif;

*/

html {
  background: url('../img/bodybuilder-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.at {
  display: inline;
  font-family: sans-serif;
  font-size: 4vh;
}

.center-content {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

.cta {
  color: white;
  font-size: 4vh;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-item {
  height: 5vh;
  padding: 1vh;
}

.grid-item:hover {
  background: rgba(176, 0, 0, 0.8);
}

div#mc_embed_signup {
  margin: 0;
  padding: 0;
}

#mc_embed_signup form {
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: 'Libre Baskerville', serif;
  margin: 0 auto;
  width: 100%;
}

/*
  Snap
*/

.snap-code {
  width: 15vw;
}

#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#overlay div {
  align-items: center;
}

/*
  Media Queries
*/

@media(max-width: 480px) {
  .cta {
    font-size: 1em;
  }

  .at {
    font-size: 0.75em;
  }

  .logo {
    width: 40vw;
    height: 40vw;
    max-height: 40vw;
    max-width: 40vw;
  }

  .snap-code{
    height: auto;
    width: 40vw;
  }

  #mc_embed_signup form {
    background: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 0 auto;
    width: 100%;
  }
}
